SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://cashinhash:cashinhash@postgres:5432/cashinhash
POSTGRES_DB=cashinhash
POSTGRES_USER=cashinhash
POSTGRES_PASSWORD=cashinhash

REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1

TELEGRAM_BOT_TOKEN=8180463196:AAF8onhLDlXWa1xZO-NofPl5GErWWeIm4Ug

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

ENERGY_REGEN_PER_SEC=5
ENERGY_COST_RATIO=200
MAX_ENERGY_DEFAULT=6000
ENERGY_DEFAULT=6000
